@keyframes clickPulse {
	from {
		outline: 0px solid rgba(255, 255, 255, 0.923);
		background-color: rgb(9, 237, 112);
	}
	to {
		outline: 15px solid rgba(255, 255, 255, 0);
		background-color: rgb(1, 173, 235);
	}
}

@keyframes fadeOutAnimation {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.playlist {
	& > button {
		margin-top: 0.8rem;
		padding: 0.6rem 1.5rem;
		background: var(--primary-color);
		border-radius: 2rem;
		transition: 400ms;
		border: none;
		cursor: pointer;
		color: white;
		&:hover {
			background: var(--accent-color);
			transition: 400ms;
		}
	}

	.buttonEffect {
		animation: clickPulse 0.5s ease-out forwards;
	}

	.success {
		color: rgb(9, 237, 112);
		border-radius: 0.25rem;
		padding: 0.5rem 0.5rem;
		font-weight: 400;
		margin-top: 1rem;
	}

	.fadeOut {
		animation: fadeOutAnimation 3s forwards;
	}

	& input {
		background-color: transparent;
		width: 100%;
		padding: 0.5rem 0rem;
		caret-color: white;
		color: white;
		margin-bottom: 1rem;
		transition: 400ms;
		border: none;
		font-size: 24px;
		font-weight: 600;
		border-bottom: 1px solid rgba(255, 255, 255, 0.616);
		outline: none;

		&::placeholder {
			color: rgba(255, 255, 255, 0.359);
		}
		&:focus {
			background-color: rgba(255, 255, 255, 0.053);
			padding: 0.5rem 1rem;
			border-bottom: 1px solid rgba(255, 255, 255, 0.923);
		}
	}
}
