.searchbar  {
	display: flex;
	justify-content: center;
	width: auto;
	margin: 5rem auto;
	position: relative;
}

.searchbar input {
	padding: 1rem 1.5rem 1rem 3rem;
	border-radius: 2rem;
	margin-left: -1.1rem;
	min-width: 25rem;
	display: inline-block;
	&:focus {
		outline: var(--accent-color) 2px solid;
	}
}