.track {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 0.8rem;
	& h3,
	p {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	& p {
		color: rgba(255, 255, 255, 0.671);
	}
	&:not(:last-of-type) {
		border-bottom: 1px solid rgba(255, 255, 255, 0.192);
	}
	margin: 1rem 0;
	& button {
		font-size: 1.5rem;
		background: none;
		border: none;
		cursor: pointer;
		color: white;
		padding: 0.8rem 1.5rem;
		border-radius: 2rem;
		transition: 600ms;
		aspect-ratio: 1 / 1;
		&:hover {
			background-color: rgba(255, 255, 255, 0.16);
			transition: 400ms;
		}
	}
}
