.contents {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
}

.contents > div {
	background: rgba(24, 3, 46, 0.664);
	padding: 2rem;
	border-radius: 1rem;
	min-height: 32rem;
	backdrop-filter: blur(25px);
	border: 1px solid rgba(255, 255, 255, 0.188);
}

@media screen and (max-width: 950px) {
	.contents {
		grid-template-columns: 1fr;
		& > div {
			min-height: auto;
		}
	}
}
