*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	line-height: 1.5;
}

body {
	color: white;
	font-family: "Poppins", sans-serif;
}

img,
picture {
	max-width: 100%;
	display: block;
}

h1,
h2,
h3,
h4 {
	text-wrap: balance;
}

p {
	text-wrap: pretty;
}

input,
button,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
}
