*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	-webkit-text-size-adjust: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
svg {
	display: block;
	max-width: 100%;
}

h1,
h2,
h3,
h4 {
	line-height: 1.25;
	text-wrap: balance;
}

p {
	text-wrap: pretty;
}

input,
button,
textarea,
select {
	font: inherit;
	color: inherit;
}

ul,
ol {
	list-style: none;
}
